.card {
  position: relative;
  width: 200px;
  height: 250px;
}

.background {
  position: absolute;
  top: 20px;
  left: 10px;
  width: 180px;
  height: 230px;
  background-color: #6c4ed9; /* Warna ungu */
  clip-path: polygon(0% 20%, 100% 0%, 100% 80%, 0% 100%);
  z-index: 0;
}

.image {
  border-radius: 10px;
}
