@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default Theme (Light Mode) */
:root {
  --background: #090c2c;
  --foreground: #171717;
}

/* Dark Mode (Menggunakan Class 'dark') */
.dark {
  --background: #ededed;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Navbar dengan Clip-Path */
.clip-navbar {
  clip-path: ellipse(80% 100% at 50% 100%);
}

/* Efek Bayangan untuk Foto Profil */
.shadow-profile {
  box-shadow: 0px 0px 9px 12px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0px 0px 9px 12px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 0px 9px 12px rgba(0, 0, 0, 0.24);
}

/* Efek Transisi Smooth */
.dark-mode-transition {
  transition: all 0.3s ease-in-out;
}
